In [1]:
print("hello world")

hello world

In [2]:
x=str(3)
y=int(3)
z=float(3)

In [3]:
x

'3'

In [4]:
y

3

In [5]:
z

3.0

In [6]:
print(type(x))

<class 'str'>

In [7]:
print(type(y))

<class 'int'>

In [8]:
print(type(z))

<class 'float'>

In [9]:
a=4
A="sally"

In [10]:
a

4

In [11]:
A

'sally'

In [12]:
#variables name in Python are case sensitive.so age Age AGE are all different

In [14]:
myVariableName="john"
#this is camel case
MyVariableName="John"
#this is Pascal case

In [15]:
my_variable_name="John"
#this is a snake case

In [16]:
#many values assigned to variables in one line
x,y,z ="orange","banana", 4
print(x)
print(y)
print(z)

orange
banana
4

In [17]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [18]:
#unpacking a collection
fruits =["apple","banana","cherry"]
x,y,z = fruits
print (x)
print(y)
print(z)

apple
banana
cherry

In [19]:
#when comma is used , space comes 
x="Python"
y="is"
z="awesome"
print(x,y,z)

Python is awesome

In [21]:
#when concatenation is done...strings have no gap
x="Python"
y="is"
z="awesome"
print(x+y+z)

Pythonisawesome

In [22]:
x="Python"
y=5
z="6"
print(x+y+z)

TypeError: can only concatenate str (not "int") to str

In [23]:
#we got erro as we can only concatenate strings

In [24]:
x=5
y=10
print(x+y)

15

In [25]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
x = 5
y = "John"
print(x, y)

5 John

In [28]:
#variables defined outside of function are global variables
x= "awesome"
def myfunc():
    print("Python is "+ x)
myfunc()

Python is awesome

In [30]:
x= "awesome"
def myfunc():
    x= "fun"
    print("Python is "+ x)
myfunc() 

print("Python is "+ x)

Python is fun
Python is awesome

In [31]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [33]:
x = range(6)
print(x)

range(0, 6)

In [34]:
x={"name":"bijaya","age":14}
print(x)

{'name': 'bijaya', 'age': 14}

In [35]:
x=complex(1j)
print(x)

1j

In [36]:
x=set(("apple","banana","orange"))

In [37]:
x

{'apple', 'banana', 'orange'}

In [38]:
x = frozenset(("apple", "banana", "cherry"))
x

frozenset({'apple', 'banana', 'cherry'})

In [39]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [40]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [41]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [42]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [43]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

In [44]:
a

1.0

In [45]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from float to int:
a = int(y)

In [46]:
a

2

In [47]:
#convert from int to complex:
c = complex(x)
c

(1+0j)

In [48]:
import random
print(random.randrange(1,10))

1

In [49]:
import random
print(random.randrange(1,10))

3